<div id="<%= dom_id bill %>">
  <p>
    <strong>Name:</strong>
    <%= bill.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= bill.amount %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= bill.author_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= bill.category_id %>
  </p>

</div>
